.card {
    width: 500px;
    border: 5px solid lawngreen;
    border-radius: 25px;
    padding: 2px;
}

img {
    width: 100%;
    height: 400px;  
    /*   */
    border-radius: 25px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

h3{
    color: rgb(205, 50, 138);
}

p {
    color: rgb(32, 218, 184);
}

h2 {
    color: brown;
}

h1 {
    color: aqua;
    text-decoration: underline;
}

h4 {
    color: rgb(0, 60, 255);
    text-decoration: salmon;
}

.container{
background-color: rgba(255, 192, 203, 0.429);
border-radius: 20px;
border: 5px solid rgb(249, 255, 192);
}